<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-1">Chi Sono</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <h2 class="display-4">Il king di bresso (perchè so usare il routing)</h2>
        <p>Salve a tutti! Sono Gabriele La Torre, ma nel mondo digitale mi chiamano il Re Gabbo, il sovrano di <a href="https://www.bresso.net/home" target="_blank">Bresso</a>, la città che brilla come una gemma nel regno della provincia di Milano.

            Nato con un mouse in mano e un sogno nel cuore, mi sono elevato al trono del web con l'ardente desiderio di diventare il re indiscusso del codice. Guidato dalla mia regale ambizione, ho deciso di perseguire la carriera di web developer professionista e dominare il mondo digitale con la mia presenza maestosa.
            
            Mentre affronto le sfide del mondo del web, ricordo sempre la saggezza dei miei predecessori: "Con grande potere, viene grande responsabilità... di scrivere codice impeccabile e creare esperienze digitali straordinarie!"
            
            Che il mio regno possa prosperare e il mio dominio sul web rimanga incontrastato per sempre! </p>

        </div>
  </div>